:root{
    --cor-texto-cabecalho: #ffffff;
    --background-planos: #220058;
    --background-page:#fbffff;
    --cor-fundo-cabecalho: #191F53;

    --fonte-texto:  "Inter", sans-serif;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fonte-texto);
    height: 100vh;
    background-color: var(--background-page);
}

.cabecalho{
    background-color: var(--cor-fundo-cabecalho);
    width: 100vw;
}

.link_cabecalho{
    text-decoration: none;
    color: var(--cor-texto-cabecalho);
    padding-left: 8em;
}
.links{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: end;
}

.cabecalho_icones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.links_inicial{
    display: flex;
   align-items: center;
}

.textos_inicial{
    text-align: center;
    margin: 4em auto;
}

.textos_inicial p{
    min-width: 90%;
}

h1{
    font-size: 40px;
}

.textos_inicial p{
    width: 30%;
    margin: 1em auto;
    font-size: 24px;
}


.sessao3_planos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 4em;
    margin-top: 3em;

}

.comtexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
 }

 .basico , .mensal , .premium{
    width: 90%;
    height: 70%;
    border-radius: 19px;
    padding: 3em;

 }

.textosplanos{
    height: 20%;
    margin-left: 1em;
} 

 .pplanos , .preco{
    color: black;
    font-size: 12px;
    margin-top: 1em;
    width: 80%;

    
 }

 .preco3{
    width: 90%;
 }

 .preco{
    font-weight: bold;
 }


.mensal{
    background: linear-gradient(#ffffff , #d2d2d2 , #828282);
    
}

.basico{
    background: linear-gradient(#ffffff , #aab1f7 , #0017e7);
    
}

.premium{
    background: linear-gradient(#fffdfb , #ffd6b0 , #ff7a00);
}


.titulo_plano{
    margin-bottom: 1em;
}

@media screen and (max-width: 700px){
    .sessao3_planos{
        display: flex;
        flex-direction: column;
    }

    .preco{
        margin-bottom: 1em;
        text-align: center;
    }
}